# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/lecture_hw_2_IR/IR.pdf
*.png
!/lecture_hw_5_KERNELS/results/*.png
*.dot
*__pycache__
/lecture_hw_3_CODEGEN/CODEGEN.pdf
/lecture_hw_4_MLP/MLP.pdf
.worktrees/
build/
**/build/
